.site-header {
	position: fixed;
	z-index: 999;
	columns: #FFF;
	top: 0;
	width: 100%;
	overflow: hidden;
	.navbar {
		background: transparent;
		padding: 0;
		transition: background-color 0.5s;
		.navbar-brand {
			color: #FFF;
			font-size: 3rem;
			font-weight: 900;
			text-transform: uppercase;
			padding-right: 10px;
		}
		span {
			display: inline-block;
			font-family: $font-primary-light;
			color: #FFF;
			font-size: 1.5rem;
			padding-top: 10px;
		}
		&.stuck {
			color:#000;
			background-color: #FFF;
			transition: background-color 0.5s;
			a,
			span {
				color: #000;
			}
		}
	}
}