/**	All Pages
---------------------------------------*/
.page__header {
	position: relative;
	height: 400px;
	text-align: center;
	background-image: url(../images/header-img.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	img {		
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		z-index: -999;
	}
	.page__title {
		margin: 0;
		padding-top: 140px;
		width: 100%;
		color: #fff;
		font-size: 7.5rem;
		font-weight: 100;
		text-align: center;
		text-transform: lowercase;
	}
}

.page-content {
	padding: 25px 0 100px;
}

article {
	position: relative;
	padding: 50px 0;
}

.widget-area {	
	padding: 50px 0;
}

.return {
	margin: 0;
	padding: 20px 0;
	a {
		font-weight: 900;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-decoration: none;
	}
}

.page__lead__img {
	position: relative;
	width: 100%;
	padding: 20px 10px;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.bg-image {
	position: absolute;
	top: 10vh;
	width: 100%;
	z-index: 0;
	background-repeat: no-repeat;
}

.subtitle {
	margin: 0;
	font-family: $font-primary;
	font-weight: 900;
	font-size: 1rem;
}
.title {
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 100;
}
hr {
	margin-top: 20px;
	display: inline-block;
}
.topic {
	text-transform: lowercase;
	font-size: 1.7rem;
	line-height: 2rem;
	padding-right: 80px;
}




/**	Single Pages
---------------------------------------*/
.page {
	.page-content {
		padding-top: 0;
		margin-top: 0;
	}
	.content-area {
		background-color: #FFF;
	}
}



/**	Specific Pages
---------------------------------------*/


// About Page Template
article.about {
	.bg-image {
    top: initial !important;
    bottom: -25vh;
	}
	.accent-left {
		height: auto;
		width: auto;
	}
	.page__lead__img {
		padding-bottom: 50px;
	}
}