.page__header {
	position: relative;
	z-index: -1;
	height: 400px;
	img {		
		position: fixed;
		top: 0;
		width: 100%;
		overflow: hidden;
		z-index: -999;
	}
	.page__title {
		margin: 0;
		padding-top: 140px;
		width: 100%;
		color: #fff;
		font-size: 7.5rem;
		font-weight: 100;
		text-align: center;
		text-transform: lowercase;
	}

}

.page-content {
	padding: 25px 0 100px;
}


// duplicate

.subtitle {
	margin: 0;
	font-family: $font-primary;
	font-weight: 900;
	font-size: 1rem;
}
.title {
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 100;
}
hr {
	margin-top: 20px;
	display: inline-block;
}
.topic {
	text-transform: lowercase;
	font-size: 1.7rem;
	line-height: 2rem;
	padding-right: 80px;
}


// About Page Template
article.about {
	.bg-image {
    top: initial !important;
    bottom: -25vh;
	}
	.accent-left {
		height: auto;
		width: auto;
	}
	.page__lead__img {
		padding-bottom: 50px;
	}
}






// original

.content-area {
	.page__lead__img {
		width: 100%;
		padding: 20px 10px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.return {
		margin: 0;
		padding: 30px 20px;
	}
	article {
		position: relative;
		padding: 50px 0;
		.bg-image {
			position: absolute;
			top: 10vh;
			width: 100%;
			z-index: -1;
			background-repeat: no-repeat;
		}
		.subtitle {
			margin: 0;
			font-family: $font-primary;
			font-weight: 900;
			font-size: 1rem;
		}
		.title {
			font-size: 4rem;
			line-height: 5rem;
			font-weight: 100;
		}
		hr {
			margin-top: 20px;
			display: inline-block;
		}
		.topic {
			text-transform: lowercase;
			font-size: 1.7rem;
			line-height: 2rem;
    	padding-right: 80px;
		}
	}
}