.page__header {
	position: relative;
	z-index: -1;
	height: 400px;
	img {		
		position: fixed;
		top: 0;
		width: 100%;
		overflow: hidden;
		z-index: -999;
	}
	.page__title {
		margin: 0;
		padding-top: 140px;
		width: 100%;
		color: #fff;
		font-size: 7.5rem;
		font-weight: 100;
		text-align: center;
		text-transform: lowercase;
	}

}

.page-content {
	padding: 25px 0 100px;
}

.content-area {
	background-color: #fff;
	.page__lead {
		width: 100%;
	}
	.return {
		margin: 0;
		padding: 30px 20px;
	}
	article {
		padding: 60px 0;
		.bg-image {
			position: absolute;
			width: 100%;
			z-index: 0;
			background-repeat: none;
		}
		.subtitle {
			margin: 0;
			font-family: $font-primary;
			font-weight: 900;
			font-size: 1rem;
		}
		.title {
			font-size: 4rem;
			line-height: 5rem;
			font-weight: 100;
		}
		hr {
			margin-top: 20px;
			display: inline-block;
		}
		.topic {
			text-transform: lowercase;
			font-size: 1.7rem;
			line-height: 2rem;
    	padding-right: 80px;
		}
	}
}