// Theme Variables
$font-primary: 'elliot';
$font-primary-light: 'elliot-light';
$font-primary-bold: 'elliot-bold';


// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$brand-primary: #8800ff;
$headings-font-family: $font-primary-light;