@font-face {
  font-family: "elliot";
  src: url('../fonts/ElliotSans-Regular.ttf');
}
@font-face {
  font-family: "elliot-light";
  src: url('../fonts/ElliotSans-Light.ttf');
}
@font-face {
  font-family: "elliot-bold";
  src: url('../fonts/ElliotSans-Bold.ttf');
}

hr {
	width: 100px;
	height: 10px;
	background-color: $brand-primary;
}

a.btn:visited {
	color: #FFF;
}


ul {
	margin: 0;
	padding: 0;
	li {		
		margin: 0;
		padding: 0;
		font-family: $font-primary;
		font-weight: 900;
		font-size: 1rem;
		padding-bottom: 5px;
		list-style: none;
	}
}

// Colors
.color-adopt 	{ color: #ff0055; }
.color-involved { color: #49d322; }
.color-about 	{ color: #641aad; }
.color-programs { color: #1690db; }
.color-news 	{ color: #ff6100; }
.color-contact 	{ color: #bcbec0; }


// Category Colors
.adopt {
	.subtitle,
	.topic {
		color: $color-adopt;
	}
	hr,
	.btn {
		border-color: $color-adopt;
		background-color: $color-adopt;	
	}
	.section__post {
		.title > a {
			background-color: $color-adopt;
		}
	}
}
.programs {
	.subtitle,
	.topic {
		color: $color-programs;
	}
	hr,
	.btn {
		border-color: $color-programs;
		background-color: $color-programs;	
	}
	.section__post {
		.title > a {
			background-color: rgba(22,144,219,0.7);
		}
	}
}

// Section Posts Squares
.section__posts {
	.section__posts__title {
		text-align: center;
		padding-bottom: 25px;
	}
	.section__post {
		height: 300px;
		border-bottom: 25px solid #ececec;
		.thumbnail {
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 90%;
			margin: auto;
			background-size: cover;
		}
		.title > a {
			font-size: 1.5rem;
			line-height: 1.5rem;
			position: absolute; 
			bottom: 10px;
			left: 5%;
			right: 30%;
			padding: 0 20px;
			color:#FFF;
			text-transform: lowercase;
		}
	}
}