// Theme Variables
$font-primary: 'Proxima Nova';
$brand-secondary: #1a237e;

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$brand-primary: #F05;
$headings-font-family: $font-primary;

// Buttons
$btn-primary-color:      #FFF;
$border-radius:          0rem;