header.site-header {
	position: relative;
	z-index: 99;
	.navbar {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $c-primary;
		z-index: 9;
		transition: background-color 0.4s;
		&.stuck {
			background-color: $c-secondary;
		}
		&__brand {
			color: #FFF;
			text-decoration: none;
		}
		&__button {
			background: none;
			border: none;
		}
		.js-menu-open:after {
			color:#FFF;
			content:"\f0c9";
			font-family:"FontAwesome";
			transition-property:all .2s linear 0s;
			-moz-transition:all .2s linear 0s;
			-webkit-transition:all .2s linear 0s;
			-o-transition:all .2s linear 0s;
		}
		.js-menu-open:hover:after {
			color:#FFF;
		}
		.js-menu-close:after {
			color:#FFF;
			content:"\f00d";
			font-family:"FontAwesome";
			transition-property:all .2s linear 0s;
			-moz-transition:all .2s linear 0s;
			-webkit-transition:all .2s linear 0s;
			-o-transition:all .2s linear 0s;
		}
		.js-menu-close:hover:after {
			color: #000;
		}
	}
}

/* Overlay Menu */
.overlay {
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#ececec;
	overflow:auto;
	z-index:1;
	nav {
		text-align: center;
		position: relative;
		top: 50%;
		height: 70%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		@include media-breakpoint-down(sm) {
			top: 35%;
		}
		.overlay__title {
			color: $c-primary;
		}
		a {
			font-size: 1.5rem;
			font-weight: 300;
			display: block;
			color: #fff;
			transition: color 0.2s;
			@include media-breakpoint-down(sm) {
				font-size: 1rem;
			}
			&:hover,
			&:focus {
				color: #4169e1;
				background-color: #ececec;
			}
		}
	}
}

/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
