.site-footer {
	padding: 80px 0;
	background-color: $brand-primary;
	.nav-link {
		padding: 0;
	}
	.footer__brand {
		padding: 50px 10px;
		color: #FFF;
		text-align: center;
		border-right: 1px solid #FFF;
		span {
			font-weight: 100;
		}
	}
	.footer__menus {
		padding-left: 100px;
		@include media-breakpoint-down(sm) {
			padding-left: 15px;
		}
	}
	.menu {
		margin-top: 20px;
		a {
			color: #FFF;
		}
	}
}