.site-header {
	.nav-link {
		padding: 0;
	}
	.navbar {
		position: fixed;
		z-index: 999;
		columns: #FFF;
		top: 0;
		width: 100%;
		overflow: hidden;
		background: transparent;
		padding: 0;
		transition: background-color 0.5s;
		.navbar__donate {
			text-align: right;
			margin-top: 30px;
			font-family: $font-primary-light;
			font-size: 1.5rem;
			line-height: 1.5rem;
			z-index:99999;
			a {
				text-decoration: none;
				color: #FFF;
			}
		}
		.navbar-brand {
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 3rem;
			line-height: 2rem;
			font-weight: 900;
			text-transform: uppercase;
			padding-right: 10px;
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
				line-height: 1.5rem;
			}
			a {
				color: #FFF;
				text-decoration: none;
			}
			.navbar__tag {
				display: inline-block;
				font-family: $font-primary-light;
				color: #ececec;
				font-size: 1.5rem;
				vertical-align: middle;
				text-transform: lowercase;
				letter-spacing: 2px;
				opacity: 0.8;
				@include media-breakpoint-down(sm) {
					font-size: 1rem;
					line-height: 1rem;
				}
			}
		}
		&.stuck {
			color:#000;
			background-color: #FFF;
			transition: background-color 0.5s;
			.navbar-brand a,
			.navbar__donate a,
			.navbar__tag,
			span {
				color: #000;
			}
			#trigger-overlay {
				color: #000;
				i {
					color: #000;
				}
			}
		}
	}
}

/* Overlay style */

#trigger-overlay {
	font-family: $font-primary-light;
	background: none;
	border: none;
	color: #FFF;
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-top: 30px;
	padding: 0;
	i {
		font-size: 1.2rem;
		color: #FFF;
	}
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #414042;
	z-index: 999;
	overflow-y: auto;
	overflow-x: hidden;
	.navbar__donate {
		a {
			color: $color-involved !important;
		}
		i {
			font-size: 1.5rem;
			color: #FFF;
		}
	}
}

/* Overlay closing cross */
.overlay .overlay-close {
	float: right;
	margin-top: 26px;
	padding: 0;
	border: none;
	background: transparent;	
	font-family: $font-primary-light;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #FFF;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	@include media-breakpoint-down(sm) {
		top: 35%;
	}
}

.overlay {
	.navbar-brand a,
	span,
	.overlay-close,
	.overlay-close i,
	.navbar__tag {
		color: #FFF !important;
	}
	.overlay__title {
		font-size: 2rem;
		font-weight: bold;
	}
	.contact {
		.overlay__title {
			color: #efefef;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto 50px;
		display: inline-block;
		height: 100%;
		position: relative;
		li {
			display: block;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			a {
				font-size: 1.5rem;
				font-weight: 300;
				display: block;
				color: #fff;
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
				@include media-breakpoint-down(sm) {
					font-size: 1rem;
				}
				&:hover,
				&:focus {
					color: #e3fcb1;
				}
			}
		}
	}
}


/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
