// News Theme Colors
.news {
	.overlay__title,
	.subtitle,
	.subheader,
	.topic,
	.sublink,
	.quote__link,
	.return a {
		color: $color-news;
	}
	hr,
	.btn {
		border-color: $color-news;
		background-color: $color-news;
		&:hover {
			color: $color-news;			
		}	
	}
	.quote__icon {
		border-right-color: $color-news;
	}
	.section__post {
		.title > a {
			background-color: rgba(255, 97, 0, 0.7);
		}
	}
	.owl-nav [class*=owl-]:hover {
		border-color: $color-news;
		i {
			color: $color-news;
		}
	}
}


// Template Page 
.page-template-page-news {
	article {		
		hr {
			margin-left: 0 !important;
		}
	}
	.button-group {
		text-align: center;
		padding-bottom: 50px;
		.button {
			background: none;
			border: none;
			font-family: $font-primary;
			font-size: 1.2rem;
			&.is-checked {
				font-weight: bold;
			}
		}
	}
	.grid__item { 
		width: 25%; 
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}
}

// Single Post
.post-template-single-news {
	.page__header {
		background-image: url('../images/news-events.jpg');
	}
	.news {
		.post {
			.subheader,
			.title,
			.subtitle {
				text-align: center;
			}
			.subtitle {
				padding: 0;
			}
		}
	}
} 