/**	All Pages
---------------------------------------*/
.site-content {
	padding: 80px 0;
	.page__header {
		position: relative;
		text-align: center;
		background-image: url();
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		& hr {
			margin-left: auto;
			margin-right: auto;
		}
		.page__title {
			position: relative;
	    font-size: 5.5rem;
	    line-height: 5.5rem;
			font-weight: 100;
		}
	}
}

.return {
	margin: 0;
	padding: 20px 0;
	a {
		font-weight: 900;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-decoration: none;
	}
}

.page__lead {
	position: relative;
	padding: 20px 0 0 10px;
	z-index: 1;
}

.page__lead__img {
	position: relative;
	width: 100%;
	padding: 20px 10px;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}