// Proram Colors
.programs {
	.overlay__title,
	.subtitle,
	.subheader,
	.topic,
	.sublink,
	.quote__link,
	.return a {
		color: $color-programs;
	}
	hr,
	.btn,
	.learn-more  {
		border-color: $color-programs;
		background-color: $color-programs;
		&:hover {
			color: $color-programs;			
		}	
	}
	.quote__icon {
		border-right-color: $color-programs;
	}
	.section__post {
		.title {
			background-color: rgba(22, 144, 219, 0.9);
		}
	}
	.owl-nav [class*=owl-]:hover {
		border-color: $color-programs;
		i {
			color: $color-programs;
		}
	}
}

// Single Post
.single-programs {
	.page__header {
		background-image: url('../images/programs.jpg');
	}
	.bg-image {
		top: 90vh;
	}
	.news {
		.post {
			.subheader,
			.title,
			.subtitle {
				text-align: center;
			}
			.subtitle {
				padding: 0;
			}
		}
	}
}