.page-content {
	padding-top: 0;
}

.single-post {
		.page__title {
			line-height: 5rem;
			@include media-breakpoint-down(sm) {
				font-size: 4rem;
				line-height: 4rem;
			}
		}
	.content-area {
		background-color: #FFF;
		.bg-image {
			top: 80vh;
		}
		article {
			padding: inherit;
			hr {
				margin-left: 0;
			}
		}
		.hentry  {
			padding-top: 5vh;
			.title {
				margin: 20px 0;
			}
		}
		.section__posts {
			padding-top: 10vh;
		}
	}
}