.page-content {
	padding-top: 0;
}

.single-post {
		.page__title {
			padding-top: 15vh;
			line-height: 5rem;
		}
	.content-area {
		background-color: #FFF;
		.bg-image {
			top: 80vh;
		}
		article {
			padding: inherit;
			hr {
				margin-left: 0;
			}
		}
		.hentry  {
			padding-top: 5vh;
			.title {
				margin: 20px 0;
			}
		}
		.section__posts {
			padding-top: 10vh;
		}
	}
}

// Pets
.pet__details {
	padding-top: 20px;
	text-align: center;
	h5 {
		padding-top: 5px;
		font-weight: bold;
		color: $color-adopt;
	}
	.btn {
		float: left;
		background-color: $color-adopt;
	}
	.pet__details--age,
	.pet__details--size,
	.pet__details--av {
		font-size: 1.5rem;
	}

	.pet__details--age,
	.pet__details--size {
		border-right: 1px solid #ececec;
	}
}