@font-face {
  font-family: "elliot";
  src: url('../fonts/ElliotSans-Regular.ttf');
}
@font-face {
  font-family: "elliot-light";
  src: url('../fonts/ElliotSans-Light.ttf');
}
@font-face {
  font-family: "elliot-bold";
  src: url('../fonts/ElliotSans-Bold.ttf');
}

body {
	background-color: red;
}

hr {
	display: block;
	width: 100px;
	height: 10px;
	margin: 20px auto;
	background-color: $brand-primary;
}

button:focus {
	outline: none;
}

a.btn {
	position: relative;
	padding: 8px 50px;
	margin: auto;
	font-family: $font-primary-light;
	text-transform: lowercase;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 2px;
	font-weight: bold;
	color: #FFF;
	-webkit-box-shadow: 0px 15px 40px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 40px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 40px -15px rgba(0,0,0,0.75);
}

a.btn:hover {
	background: #FFF;
	border-outline: none;
	-webkit-box-shadow: 0px 15px 40px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 40px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 40px -18px rgba(0,0,0,0.75);
} 

ul {
	margin: 0;
	padding: 0;
	li {		
		margin: 0;
		padding: 0;
		font-family: $font-primary;
		font-weight: 900;
		font-size: 1rem;
		padding-bottom: 5px;
		list-style: none;
	}
}

.grid__item { 
	width: 25%; 
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}


// Image Accents
.accent-left {
	position: absolute;
	top: 0;
	left: 0;
	height: 90%;
	width: 90%;
	z-index: 0;
}
.accent-right {
	position: absolute;
	top: 0;
	right: 0;
	height: 90%;
	width: 90%;
	z-index: 0;
}


// Colors
.color-adopt 	{ color: #ff0055; }
.color-involved { color: #49d322; }
.color-about 	{ color: #641aad; }
.color-programs { color: #1690db; }
.color-news 	{ color: #ff6100; }
.color-contact 	{ color: #bcbec0; }


// Category Section Colors
.adopt {
	.overlay__title {
		color: $color-adopt;
	}
	.subtitle,
	.topic,
	.return a{
		color: $color-adopt;
	}
	hr,
	.btn {
		border-color: $color-adopt;
		background-color: $color-adopt;
		&:hover {
			color: $color-adopt;			
		}	
	}
	.quote__icon {
		border-right-color: $color-adopt;
	}
	.section__post {
		.title > a {
			background-color: $color-adopt;
		}
	}
	.owl-nav [class*=owl-]:hover {
		border-color: $color-adopt;
		i {
			color: $color-adopt;
		}
	}
}

.about {
	.overlay__title {
		color: $color-about;
	}
	.subtitle,
	.topic,
	.return a {
		color: $color-about;
	}
	hr,
	.btn {
		border-color: $color-about;
		background-color: $color-about;
		&:hover {
			color: $color-about;			
		}	
	}
	.quote__icon {
		border-right-color: $color-about;
	}
	.section__post {
		.title > a {
			background-color: rgba(255, 97, 0, 0.7);
		}
	}
	.owl-nav [class*=owl-]:hover {
		border-color: $color-about;
		i {
			color: $color-about;
		}
	}
}


// Quote Blocks
.quote {
	padding: 150px 0;
	overflow: hidden;
	.quote__icon {
		border-right-width: 2px;
		border-right-style: solid;
	}
	.quote__bg {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 15rem;
    line-height: 10rem;
    color: #ececec;
    opacity: 0.5;
	}
	.quote__text {
		padding: 2px 20px;
		margin: 0;
	}
}

// Quote Blocks
.donate {
	padding: 150px 0;
	overflow: hidden;
	text-align: center;
	.donate__bg {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 15rem;
    line-height: 10rem;
    color: #ececec;
    opacity: 0.5;
    z-index: 0;
	}
}