// Volunteer Colors
.involved {
	.overlay__title,
	.subtitle,
	.subheader,
	.topic,
	.sublink,
	.quote__link,
	.return a {
		color: $color-involved;
	}
	hr,
	.btn {
		border-color: $color-involved;
		background-color: $color-involved;
		&:hover {
			color: $color-involved;			
		}	
	}
	.quote__icon {
		border-right-color: $color-involved;
	}
	.section__post {
		.title > a {
			background-color: rgba(73, 211, 34, 0.7);
		}
	}
	.owl-nav [class*=owl-]:hover {
		border-color: $color-involved;
		i {
			color: $color-involved;
		}
	}
}


// Single Post
.post-template-single-involved {
	.page__header {
		background-image: url('../images/volunteer.jpg');
	}
	.news {
		.post {
			.subheader,
			.title,
			.subtitle {
				text-align: center;
			}
			.subtitle {
				padding: 0;
			}
		}
	}
}