.pg-all-service__header {
	margin: 90px auto 0; // Navbar height
	padding: 8rem 1rem;
	max-width: 1400px;
	background-position: center;
	background-size: cover;

	@include media-breakpoint-down(md) {
		margin: 60px auto 0; // Navbar height
		padding: 4rem 5px;
	}

	&__title {
		//color: $primary;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 2rem;
	}
}

.pg-all-service__featured-image {
	height: 80vh;
	max-height: 600px;
}
